[submodule "themes/zola-theme-project-portfolio"]
	path = themes/zola-theme-project-portfolio
	url = https://github.com/awinterstein/zola-theme-project-portfolio.git
[submodule "themes/project-portfolio"]
	path = themes/project-portfolio
	url = https://github.com/awinterstein/zola-theme-project-portfolio.git
